@{
    ViewData["Title"] = "Pick-me-UP - Find your way";
    Layout = "_Layout";
}

<div class="container my-auto">
    <h1 class="text-center mb-4">Find your way</h1>

    <div class="row justify-content-center gap-4">
        <div class="col-12 d-flex justify-content-center">
            <button id="findRideBtn" type="button" class="btn btn-outline-primary">
                🚗 Trova un Passaggio
            </button>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button id="addTripBtn" type="button" class="btn btn-outline-primary">
                ➕ Aggiungi un Viaggio
            </button>
        </div>
    </div>
</div>

@section scripts {
    <script>
        const travelListUrl = '@Url.Action("List","Travel", new { isFromFindTravel = true })';
        document.getElementById("findRideBtn").addEventListener("click", () => {
            if (!isAuthenticated) {
                openLoginModal();
                return;
            }
            // Redirect to the search page or open search modal
            window.location.href = travelListUrl;
        });

        const travelCreateUrl = '@Url.Action("Create","Travel")';
        document.getElementById("addTripBtn").addEventListener("click", () => {
            if (!isAuthenticated) {
                openLoginModal();
                return;
            }

            // Redirect to the add trip page
            window.location.href = travelCreateUrl;
        });

        const openLoginModal = () => {
            utilities.alertError(
            "Devi effettuare l'accesso per aggiungere un viaggio",
            3000
            );
            new bootstrap.Modal(document.getElementById("loginModal")).show();
        };
    </script>
}